.stage1{
    background-color: rgb(76, 43, 226) ;
    width: 100%;
    height: 45px;
}
p.top{
    color: white;
    text-align: center;
    position: relative;
    right: 30px;
    top: 10px;
    text-shadow: 1px 1px 2px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.image1{
    width: 18px;
    position: relative;
    right: 260px;
    
    cursor: pointer;
}
.image2{
    width: 18px;
    position: relative;
    right: 240px;
    top: 2px;
    
    cursor: pointer;
}
.image3{
    width: 18px;
    position: relative;
    right: 220px;
    top: 2px;
    
    cursor: pointer;


}
.image4{
    width: 18px;
    position: relative;
    right: 200px;
    top: 2px;
    
    cursor: pointer;
}
.image5{
    width: 20px;
    position: relative;
    right: 180px;
    top: 2px;
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: default;
}
.sub1{
    width: 70px;
    height: 20px;
    color: black;
    background-color: white;
    position: relative;
    bottom: 30px;
    left: 1010px;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
}
.sub2{
    width: 83px;
    height: 19px;
    color: black;
    background-color: white;
    position: relative;
    bottom: 54px;
    left: 1100px;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
}
.sub3{
    width: 90px;
    height: 19px;
    color: black;
    background-color: white;
    position: relative;
    bottom: 77px;
    left: 1200px;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
}
.div2{
    width: 100%;
    height: 90px;
    background-color:whitesmoke;
    
}
.logo{
    width: 200px;
    
    position: relative;
    top: 10px;
    left: 60px;

}
.btn1{
    width: 65px;
    height: 30px;
    background-color:rgb(76, 43, 226); 
    color: white;
    border-radius: 20px;
    position: relative;
    bottom: 40px;
    left: 550px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 12px;
    
}

.btn2{
    width: 65px;
    height: 30px;
    background-color:white; 
    color: black;
    border-radius: 20px;
    position: relative;
    bottom: 80px;
    left: 640px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 12px;
    
}
.btn2:hover{
    background-color:blue;
    color: white;
}
.btn3{
    width: 145px;
    height: 30px;
    background-color:white; 
    color: black;
    border-radius: 20px;
    position: relative;
    bottom: 122px;
    left: 730px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 12px;
    
}
.btn3:hover{
    background-color:blue;
    color: white;
}
.btn4{
    width: 130px;
    height: 30px;
    background-color:white; 
    color: black;
    border-radius: 20px;
    position: relative;
    bottom: 164px;
    left: 900px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 12px;
    
}
.btn4:hover{
    background-color:blue;
    color: white;
}
.btn5{
    width: 65px;
    height: 30px;
    background-color:white; 
    color: black;
    border-radius: 20px;
    position: relative;
    bottom: 205px;
    left: 1055px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 12px;
    
}
.btn5:hover{
    background-color:blue;
    color: white;
}
.btn6{
    width: 65px;
    height: 30px;
    background-color:white; 
    color: black;
    border-radius: 20px;
    position: relative;
    bottom: 247px;
    left: 1145px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 12px;
    
}
.btn6:hover{
    background-color:blue;
    color: white;
}

.btn7{
    width: 75px;
    height: 30px;
    background-color:white; 
    color: black;
    border-radius: 20px;
    position: relative;
    bottom: 290px;
    left: 1235px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 12px;
    
}
.btn7:hover{
    background-color:blue;
    color: white;
}
.pic1{
    width: 100%;
    height: 400px;
}
.mid1{
    width: 1100px;
    height: 20px;
    background-color: rgb(76, 43, 226);
    text-align: center;
    margin: 0 auto;
    color:  rgb(160, 250, 25);
}

/* .head1{
    text-align: center;
}
.head1::first-letter{
    color: rgb(76, 43, 226);
}
.head1:s{
    color: rgb(76, 43, 226);
} */
.head1{
    text-align: center;
    letter-spacing: -4px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.empty{
    width: 50px;
    height: 2px;
    background-color: green;
    position: relative;
    left: 600px;
}
.logo1{
    width: 30px;
    position: relative;
    left: 655px;
    bottom: 16px;
}
.empty1{
    width: 50px;
    height: 2px;
    background-color: green;
    position: relative;
    left: 692px;
    bottom: 35px;

}
.para{
    text-align: justify;
    width: 600px;
    position: relative;
    left: 380px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    
}

.mid{
    width: 100%;
    height: 300px;
    background-color: rgb(76, 43, 226);
}
.img1{
    width: 40px;
    position: relative;
    top: 60px;
    left: 300px;
}
.num1{
    /* width: 200px; */
    position: relative;
    top: 30px;
    left: 258px;
    color: white;
    
    
    font-size: 40px;
    font-style: oblique;
}
.part1{
    font-size: 11px;
    
    position: relative;
    
    top: 10px;
    left: 245px;
    color: white;
    font-weight: bolder;
    
    
}
.img2{
    width: 40px;
    position: relative;
    bottom: 137px;
    left: 550px;
}
.num2{
    /* width: 200px; */
    position: relative;
    bottom: 164px;
    left: 530px;
    color:white;
    
    
    font-size: 40px;
    font-style: oblique;
}
.part2{
    font-size: 11px;
    
    position: relative;
    
    bottom: 183px;
    left: 500px;
    color: white;
    font-weight: bolder;
}
.img3{
    width: 40px;
    position: relative;
    bottom: 325px;
    left: 800px;
}
.num3{
    position: relative;
    bottom: 355px;
    left: 760px;
    color: white;
    font-size: 40px;
    font-style: oblique;
} 
.part3{
    font-size: 11px;
    position: relative;
    bottom: 375px;
    left: 750px;
    color: white;
    font-weight: bolder;
} 
.img4{
    width: 40px;
    position: relative;
    bottom: 520px;
    left: 1000px;

}
.num4{
    position: relative;
    bottom: 550px;
    left: 950px;
    color: white;
    font-size: 40px;
    font-style: oblique;

}
.part4{
    font-size: 11px;
    position: relative;
    bottom: 570px;
    left: 950px;
    color: white;
    font-weight: bolder;
}
.head2{
    
    font-size: 25px;
    word-spacing: 10px;
    letter-spacing: -8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    
    
}
.head3{
   
    font-size: 25px;
    word-spacing: 10px;
    letter-spacing: -8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    position: relative;
    bottom: 44px;
    left: 70px;

}
.head4{
   
    font-size: 25px;
    word-spacing: 10px;
    letter-spacing: -8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    position: relative;
    bottom: 88px;
    left: 112px;



}
.head5{
    
    font-size: 25px;
    word-spacing: 10px;
    letter-spacing: -8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    position: relative;
    bottom: 133px;
    left: 165px;


}
.heading{
    position: relative;
    left: 550px;
}

.empt2{
    width: 35px;
    height: 1px;
    background-color: green;
    position: relative;
    left: 610px;
    bottom: 120px;
}
.logo2{
    width: 30px;
    position: relative;
    left: 655px;
    bottom: 145px;
}
.empty3{
    width: 35px;
    height: 1px;
    background-color: green;
    position: relative;
    left: 694px;
    bottom: 155px;

}
.box1{
    width:250px;
    height: 130px;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px 4px rgb(201, 197, 197) ;
    position: relative;
    left: 250px;
    bottom: 120px;
}
.bimg1{
    width: 50px;
    position: relative;
    top: 20px;
    left: 100px;
    cursor: pointer;
    
}
.pimg1{
    font-size: 15px;
    color: rgb(76, 43, 226);
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 52px;
    font-family: Arial, Helvetica, sans-serif;
}

.box2{
    width:250px;
    height: 130px;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px 4px rgb(201, 197, 197) ;
    position: relative;
    left: 535px;
    bottom: 250px;
}
.bimg2{
    width: 50px;
    position: relative;
    top: 20px;
    left: 100px;
    cursor: pointer;
}

.pimg2{
    font-size: 15px;
    color: rgb(76, 43, 226);
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 84px;
    font-family: Arial, Helvetica, sans-serif;
}
.box3{
    width:250px;
    height: 130px;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px 4px rgb(201, 197, 197) ;
    position: relative;
    left: 820px;
    bottom: 380px;
}
.bimg3{
    width: 50px;
    position: relative;
    top: 20px;
    left: 100px;
    cursor: pointer;
}

.pimg3{
    font-size: 15px;
    color: rgb(76, 43, 226);
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 87px;
    font-family: Arial, Helvetica, sans-serif;
}
.box4{
    width:250px;
    height: 130px;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px 4px rgb(201, 197, 197) ;
    position: relative;
    left: 250px;
    bottom: 350px;
}
.bimg4{
    width: 50px;
    position: relative;
    top: 20px;
    left: 100px;
    cursor: pointer;
}

.pimg4{
    font-size: 15px;
    color: rgb(76, 43, 226);
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 75px;
    font-family: Arial, Helvetica, sans-serif;
}
.box5{
    width:250px;
    height: 130px;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px 4px rgb(201, 197, 197) ;
    position: relative;
    left: 535px;
    bottom: 480px;
}
.bimg5{
    width: 50px;
    position: relative;
    top: 20px;
    left: 100px;
    cursor: pointer;
}

.pimg5{
    font-size: 15px;
    color: rgb(76, 43, 226);
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 84px;
    font-family: Arial, Helvetica, sans-serif;
}
.box6{
    width:250px;
    height: 130px;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px 4px rgb(201, 197, 197) ;
    position: relative;
    left: 820px;
    bottom: 610px;
}
.bimg6{
    width: 50px;
    position: relative;
    top: 20px;
    left: 100px;
    cursor: pointer;
}

.pimg6{
    font-size: 15px;
    color: rgb(76, 43, 226);
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.hend1{
    font-size: 18px;
    color: rgb(76, 43, 226);
    letter-spacing: -1px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 35px;
    left: 250px;


}
.lst{
    width: 100%;
    height: 800px;
    background-color: whitesmoke;
    position: relative;
    bottom: 570px;
}
hr{
    width: 50px;
    color: green;
    position: relative;
    top: 45px;
    right: 390px;
}
.b1{
    width: 270px;
    height: 55px;
    background-color: white;
    position: relative;
    top: 80px;
    left: 250px;
    box-shadow: 1px 1px 1px 2px rgb(201, 197, 197) ;
}
.im1{
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.p1{
    font-size: 15px;
    position: relative;
    left: 70px;
    bottom: 30px;
    color: blue;
    font-weight: bold;
}
.b2{
    width: 270px;
    height: 55px;
    background-color: white;
    position: relative;
    top: 25px;
    left: 545px;
    box-shadow: 1px 1px 1px 2px rgb(201, 197, 197) ;
}
.im2{
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.p2{
    font-size: 15px;
    position: relative;
    left: 70px;
    bottom: 30px;
    color: blue;
    font-weight: bold;
}
.b3{
    width: 270px;
    height: 55px;
    background-color: white;
    position: relative;
    top: 38px;
    left: 250px;
    box-shadow: 1px 1px 1px 2px rgb(201, 197, 197) ;
}
.im3{
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.p3{
    font-size: 15px;
    position: relative;
    left: 70px;
    bottom: 30px;
    color: blue;
    font-weight: bold;
}
.b4{
    width: 270px;
    height: 55px;
    background-color: white;
    position: relative;
    bottom: 17px;
    left: 545px;
    box-shadow: 1px 1px 1px 2px rgb(201, 197, 197) ;
}
.im4{
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.p4{
    font-size: 15px;
    position: relative;
    left: 70px;
    bottom: 30px;
    color: blue;
    font-weight: bold;
}
.hend2{
    font-size: 18px;
    color: rgb(76, 43, 226);
    letter-spacing: -1px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 850px;
    bottom: 238px;
}
.line{
    width: 50px;
    background-color: green;
    height: 1px;
    position: relative;
    
    left: 850px;
    
    bottom:230px;
}
.pp2{
    text-align: justify;
    width: 200px;
    position: relative;
    left: 850px;
    bottom: 210px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;

}

.imageG{

    text-align: center;
    position: relative;
    bottom: 130px;
    right: 75px;
}
.imgh1{
    letter-spacing: -4.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    
    
}
.imgh2{
    letter-spacing: -4.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    position: relative;
    bottom: 58px;
    left: 140px;
    
    
}
.empt4{
    width: 30px;
    height: 1px;
    background-color: green;
    position: relative;
    left: 675px;
    bottom: 50px;
}
.logo3{
    width: 40px;
    position: relative;
    left: 64px;
    bottom: 80px;
}
.empty5{
    width: 30px;
    height: 1px;
    background-color: green;
    position: relative;
    left: 756px;
    bottom: 95px;

}

.di1{
    width: 180px;
    position: relative;
    right: 300px;
    
}

.di2{
    width: 180px;
    position: relative;
    bottom: 124px;
    right: 119px;
    
}
.di3{
    width: 180px;
    position: relative;
    bottom: 248px;
    left: 62px;
}
.di4{
    width: 180px;
    position: relative;
    bottom: 371px;
    left: 243px;
    
}

    

.di5{
    width: 180px;
    position: relative;
    bottom: 495px;
    left: 424px;
}
.info{
    background-color: rgb(32, 26, 26);
    width: 100%;
    position: relative;
    bottom: 500px;
    height: 300px;
}
.phone{
    width: 10px;
}
.message{
    width: 10px;
}
.world{
    width: 20px;

}
.info1{
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.4;
    font-size: 12px;
    position: relative;
    left: 200px;
    top: 94px;

    
}
.info2{
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.4;
    font-size: 12px;
    position: relative;
    left: 200px;
    top: 88px;

}
ul{
    position: relative;
    left: 180px;
    top: 90px;
    list-style-type: none;
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.4;
    font-size: 12px;

}

.l2{
    position: relative;
    top: 5px;
}
.l3{
    position: relative;
    top: 10px;
}

.l4{
    position: relative;
    top: 15px;
}
.l5{
    position: relative;
    top: 20px;
}
.W{
    position: relative;
    left: 150px;
    bottom: 70px;

}
.phone{
    position: relative;
    right: 4px;

}
.message{
    position: relative;
    right: 4px;

}
.world{
    position: relative;
    right: 4px;
    opacity: 0.9;

}
.info3{
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    font-size: 14px;
    position: relative;
    left: 600px;
    bottom: 80px;
}
.line2{
    width: 30px;
    height: 1px;
    background-color: green;
    position: relative;
    left: 600px;
    bottom: 88px;

}
.line3{
    width: 250px;
    height: 1px;
    background-color: white;
    position: relative;
    left: 630px;
    bottom: 89px;
    opacity: 0.2;

}
.info4{
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    font-size: 14px;
    position: relative;
    left: 920px;
    bottom: 120px;
}
.F{
    width: 20px;
    cursor: pointer;
}
.T{
    width: 20px;
    position: relative;
    left: 5px;
    cursor: pointer;
}
.I{
    width: 20px;
    position: relative;
    left: 10px;
    cursor: pointer;

}
.Y{
    width: 20px;
    position: relative;
    left: 15px;
    cursor: pointer;
}

.logos{
    position: relative;
    left: 920px;
    bottom: 120px;
}
.lastrow{
    width: 100%;
    background-color: blue;
    height: 45px;
    position: relative;
    bottom: 550px;
}
.lastpara{
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
    font-size: 10px;
    position: relative;
    left: 210px;
    top: 10px;

}
.gotop{
    width: 60px;
    position: relative;
    left: 1200px;
    bottom: 400px;
    
}

